<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2><%= @article.title %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<%= @article.text %>
		</div>
		<div class="col-md-2">
			<div class="list-group">
				<% if user_signed_in? %>
				<%= link_to 'Edit', edit_article_path(@article), {class: "list-group-item"} %>
				<%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "list-group-item list-group-item-danger" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>Comments</h2>
			<%= render @article.comments %>
		</div>
		<div class="col-md-6">
			<h2>Add Comment</h2>
			<% if user_signed_in? %>
			<%= render 'comments/form' %>
			<% else %>
			<p>You need to be signed in to add a comment.</p>
			<% end %>
		</div>
	</div>
</div>